/*------------------------------------*\
    #BACKGROUND POSITION
\*------------------------------------*/

.bg-tl {
  background-position: top left;
}

.bg-tc {
  background-position: top center;
}

.bg-tr {
  background-position: top right;
}

.bg-cl {
  background-position: center left;
}

.bg-cc {
  background-position: center;
}

.bg-cr {
  background-position: center right;
}

.bg-bl {
  background-position: bottom left;
}

.bg-bc {
  background-position: bottom center;
}

.bg-br {
  background-position: bottom right;
}
