/*------------------------------------*\
    #BACKGROUND POSITION
\*------------------------------------*/

.bg-tl {
  background-position: top left !important;
}

.bg-tc {
  background-position: top center !important;
}

.bg-tr {
  background-position: top right !important;
}

.bg-cl {
  background-position: center left !important;
}

.bg-cc {
  background-position: center !important;
}

.bg-cr {
  background-position: center right !important;
}

.bg-bl {
  background-position: bottom left !important;
}

.bg-bc {
  background-position: bottom center !important;
}

.bg-br {
  background-position: bottom right !important;
}
