<section>
  <div class="wrapper">
    <div class="layout">
      <div class="layout__item u-1/1">
        <h1 class="wow fadeInUp" data-wow-duration="0.7s">About us</h1>
      </div>
    </div>

    <div class="layout">
      <div class="layout__item u-3/5 u-1/1-palm">
        <p class="txt-body [ wow fadeInUp ] " data-wow-duration="0.7s" data-wow-delay="0.2s">
          Since 2009 Yourownmood (Steven and Gert-Jan), has worked on successful projects for some of the most strong brands in the Netherlands.
          <br><br>
          Started years ago with a broader view of “digital world” and the last few years focused on our expertise in UX design and Front-end development to help companies transform in the challenging and fast-moving digital landscape.
          Delivering a high standard in online User Experience and Brand presence for applications, corporate, campaign and web-shops.
          <br><br>
          We strongly believe that the key to for a successful project is when great mindsets and diversity of skillsets are put together as a team.
          <br><br>
          From top to bottom, we put ideas into action by working agile, while we encourage the spirit of teamwork and collaboration across all disciplines.
          <br><br>
        </p>

        <p class="wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
          <b>In short our work can be described as:</b>
        </p>
        <ul class="list-arrow u-mt [ wow fadeInUp ]" data-wow-duration="0.7s" data-wow-delay="0.6s">
          <li>Contribute in an agile (scrum) project, start small from the very start or work in larger longer running teams.</li>
          <li>Front-end development: Specialised in CSS development and architecture. Focusing on setting up a scalable, maintainable and good performing CSS architecture and workflow.</li>
          <li>Visual- and Interaction Design: Translating a well known Brand into an online experience.</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="wrapper--screen u-mt u-pt">
    <div class="layout">
      <div class="layout__item u-1/1">
        <br>
        <div afkl-lazy-image="app/assets/images/about_yourownmood.jpg"
             afkl-lazy-image-options="{'imgAttrs': [{'class': 'u-1/1', 'alt': 'Yourownmood'}]}"
             class="wow u-1/1 fadeInUp"
             data-wow-duration="0.7s"
             data-wow-delay="0.4s"></div>
      </div>
    </div>
  </div>
</section>
