<!-- Intro -->
<div ng-controller="homeCtrl as home" ng-init="loaded()">
  <div class="scherm scherm-1">
    <div class="layout layout--flush">
      <div class="layout__item u-1/3 u-1/2-phone-to-desk u-1/1-phone">

        <!-- Profile left -->
        <div class=" [ card card__profile card__bg card--sb ] wow fadeInUp"
             data-wow-duration="0.7s"
             afkl-lazy-image="app/assets/images/profile/steven/profile_stevenbax-home-768.jpg 480w, app/assets/images/profile/steven/profile_stevenbax-home-full.jpg"
             afkl-lazy-image-options="{'background': true}">
          <p class="profile__name">
            <b>Steven Bax</b>
            <br>
            Front-end developer
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="profile__name--overlay">
              <b>Steven Bax</b>
              Front-end developer
              <span class="profile__btns">
                <a href="#/profile/steven-bax" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">View</span>
                </a>
              </span>
          </div>
        </div>

        <div class=" [ card card__project card--sb-project ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.2s">
          <p class="project__name">
            Currently working @
          </p>

          <p class="project__year">
            2017-now
          </p>

          <div class="vh-align--img"
               afkl-lazy-image="app/assets/images/project/tnt/tnt.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'class': 'u-1/1', 'alt': 'LeasePlan'}]}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>LeasePlan</b>
              A Netflix for Cars?
              <span class="profile__btns">
                <a href="https://www.leaseplan.com/" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 u-1/2-phone-to-desk u-1/1-phone">

        <div class=" [ card card__profile card__bg card--gj ] wow fadeInUp"
            data-wow-duration="0.7s"
            afkl-lazy-image="app/assets/images/profile/gertjan/profile_gertjandegoede-home-768.jpg 480w, app/assets/images/profile/gertjan/profile_gertjandegoede-home-full.jpg 1024w, app/assets/images/profile/gertjan/profile_gertjandegoede-home-full-spot.jpg"
            afkl-lazy-image-options="{'background': true}">

          <p class="profile__name">
            <b>Gert-Jan de Goede</b>
            <br>
            Visual designer
          </p>

          <span class="card__overlay profile__overlay card__animate">
            <p class="profile__name--overlay">
              <b>Gert-Jan de Goede</b>
              Visual designer
              <span class="profile__btns">
                <a href="#/profile/gert-jan-de-goede" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">View</span>
                </a>
              </span>
            </p>
          </span>
        </div>

        <div class=" [ card card__project card--gj-project ] wow fadeInUp " data-wow-duration="0.7s" data-wow-delay="0.35s">
          <p class="project__name">
            Currently working @
          </p>

          <p class="project__year">
            2017-now
          </p>

          <div class="vh-align--img"
               afkl-lazy-image="app/assets/images/project/fedex/fedex-logo@2x.png"
               afkl-lazy-image-options="{'imgAttrs': [{'class': 'u-1/1', 'alt': 'LeasePlan'}]}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>LeasePlan</b>
              A Netflix for Cars?
              <span class="profile__btns">
                <a href="https://www.leaseplan.com/" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 hide-portable">

        <div class="intro">
          <div class="intro__header">
            <p class="intro__slogan [ wow fadeInUpDouble ]" data-wow-duration="1.3s" data-wow-delay="0.4s">
              Guiding digital strategy into online experiences of today's standards
            </p>
            <a href="#/about" class="btn btn--primary btn--center [ wow fadeIn ] " data-wow-duration="0.7s" data-wow-delay="0.2s">
              <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
              <span class="btn__label">Read more</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- We worked @ -->
  <section class="scherm">
    <p class="worked-at wow fadeIn" data-wow-duration="2s">
      <b>We have worked @</b>
      LeasePlan, TNT, FedEx, NEMO Science Museum, ING, Allerhande, Ultimaker, Sunweb, Budget Energie, Ruimtemakers, Sloop de Crisis, KRO, Quantore, Avero Achmea, Waterfootprint Network, Leukedingendoen, Van Nelle Ontwerpfabriek.
    </p>
  </section>

  <!-- Projects -->
  <section class="scherm scherm-2">
    <div class="layout layout--flush">
      <div class="layout__item u-1/3 u-1/2-lap u-1/1-palm">

        <div class=" [ card card__project card--fedex  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div class="vh-align--img"
               afkl-lazy-image="app/assets/images/project/fedex/fedex-logo@2x.png"
               afkl-lazy-image-options="{'imgAttrs': [{'class': 'u-1/1', 'alt': 'FedEx'}]}"></div>

          <p class="project__year">
            2016 - 2017
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>FedEx</b>
              FedEx and TNT are coming together to connect you to more opportunities
              <span class="project__btns">
                <a href="#/project/fedex" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">View</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--allerhande  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="app/assets/images/project/allerhande/allerhande.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Allerhande'}]}"></div>

         <p class="project__year">
           Dec 2014
         </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Allerhande</b>
              Biggest inspirational food website of The Netherlands
              <span class="project__btns">
                <a href="http://www.ah.nl/allerhande/" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--sunweb  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg ]"
               afkl-lazy-image="app/assets/images/project/sunweb/sunweb-nav.jpg"
               afkl-lazy-image-options="{'background': true}">
          </div>

          <div afkl-lazy-image="app/assets/images/project/sunweb/sunweb.png"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Sunweb'}]}"></div>

          <p class="project__year">
            Nov 2013
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Sunweb</b>
              Sunny side of travel agency Sunweb
              <span class="project__btns">
                <a href="#/project/sunweb" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">View</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--liander  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg ] "
               afkl-lazy-image="app/assets/images/project/liander/liander.jpg"
               afkl-lazy-image-options="{'background': true}">
          </div>

          <div afkl-lazy-image="app/assets/images/project/liander/liander.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Liander'}]}"></div>

          <p class="project__year">
            Sep 2014
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Liander.nl</b>
              Dutch Grid Operator
              <span class="project__btns">
                <a href="https://www.liander.nl" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 u-1/2-lap u-1/1-palm">

        <div class=" [ card card__project card--tnt  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div class="vh-align--img"
               afkl-lazy-image="app/assets/images/project/tnt/tnt.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'class': 'u-1/1', 'alt': 'TNT'}]}"></div>

          <p class="project__year">
            2014 - 2016
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>TNT</b>
              Online presence of the worldwide shipping partner TNT
              <span class="project__btns">
                <a href="#/project/tnt" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">View</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--ecover  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="app/assets/images/project/ecover/ecover.png"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Ecover'}]}"></div>

          <p class="project__year">
            Oct 2014
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Ecover</b>
              Pioneering a cleaner clean worldwide
              <span class="project__btns">
                <a href="http://uk.ecover.com/en/" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--sdc  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="app/assets/images/project/sloopdecrisis/sloopdecrisis.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Sloopdecrisis.nl'}]}"></div>

          <p class="project__year">
            Feb 2014
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Sloopdecrisis.nl</b>
              Persuasive action site
              <span class="project__btns">
                <a href="http://www.sloopdecrisis.nl" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--be  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="app/assets/images/project/budgetenergie/budgetenergie.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Budget Energie'}]}"></div>

          <p class="project__year">
            Nov 2013
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Budget Energie</b>
              Well priced online energy supplier
              <span class="project__btns">
                <a href="http://www.budgetenergie.nl" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 u-1/1-portable">

        <div class=" [ card card__project card--ing  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg ]"
               afkl-lazy-image="app/assets/images/project/ing/ing.jpg"
               afkl-lazy-image-options="{'background': true}">
          </div>

          <div afkl-lazy-image="app/assets/images/project/ing/ing.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'ING'}]}"></div>

          <p class="project__year">
            Jan 2014
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>ING</b>
              A global financial institution of Dutch origin
              <span class="project__btns">
                <a href="http://www.ing.nl/" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--ldd  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="app/assets/images/project/leukedingendoen/leukedingendoen.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Leukedingendoen'}]}"></div>

          <p class="project__year">
            Dec 2015
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Leukedingendoen.nl</b>
              Is er nog iets leuks te doen?
              <span class="project__btns">
                <a href="http://www.leukedingendoen.nl/" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--ultimaker  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg bg-cc ]"
               afkl-lazy-image="app/assets/images/project/ultimaker/ultimaker.jpg"
               afkl-lazy-image-options="{'background': true}">
          </div>

          <div afkl-lazy-image="app/assets/images/project/ultimaker/ultimaker.svg"
               afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Ultimaker'}]}"></div>

          <p class="project__year">
            Dec 2014
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay">
              <b>Ultimaker</b>
              Best desktop 3D Printer on the market
              <span class="project__btns">
                <a href="http://ultimaker.com/" target="_blank" class="btn btn--primary btn--center">
                  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 841.9 595.3"><path d="M841.9 295.2L841.9 295.2c0-2.5 0-7.4-2.5-9.9L567 27.7c-5-5-12.4-5-17.3 0 -5 5-5 12.4 0 17.3l250.1 237.7H12.4c-7.4 0-12.4 5-12.4 12.4s5 12.4 12.4 12.4h787.4L547.2 547.7c-5 5-5 12.4 0 17.3s12.4 5 17.3 0l272.4-257.5C841.9 302.6 841.9 300.1 841.9 295.2"/></svg>
                  <span class="btn__label">Visit</span>
                </a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- We worked with -->
  <section class="scherm">

    <div class="layout">
      <div class="layout__item u-1/1">
        <p class="worked-at  wow fadeIn" data-wow-duration="2s">
          <b>We work with the following agencies:</b>
          Jungle Minds, Fabrique, Doornvogel brand intimacy, We Are Reasonable People, Branding &amp; more
        </p>
      </div>
    </div>

    <div class=" [ layout layout--middle ] agency-list wow fadeIn" data-wow-duration="2s">
      <div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.jungleminds.nl/"
           target="_blank"
           class="agency-list__link agency-1"
           afkl-lazy-image="app/assets/images/agency/jungleminds.jpg"
           afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Jungleminds'}]}"></a>
      </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.fabrique.nl/"
           target="_blank"
           class="agency-list__link agency-2"
           afkl-lazy-image="app/assets/images/agency/fabrique.svg"
           afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Fabrique'}]}"></a>
      </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.doornvogel.com/"
           target="_blank"
           class="agency-list__link agency-3"
           afkl-lazy-image="app/assets/images/agency/doornvogel.jpg"
           afkl-lazy-image-options="{'imgAttrs': [{'alt': 'Doornvogel'}]}"></a>
      </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.wearereasonablepeople.com/"
           target="_blank"
           class="agency-list__link agency-4"
           afkl-lazy-image="app/assets/images/agency/warp.svg"
           afkl-lazy-image-options="{'imgAttrs': [{'alt': 'wearereasonablepeople'}]}"></a>
      </div>
    </div>

  </section>
</div>
