<div ng-controller="projectCtrl as project" ng-init="loaded()" class="project">

  <div ng-repeat="post in posts" ng-show="post.url === lastPart">

    <section class="scherm scherm-project">

      <div class="layout layout--flush">
        <div class="layout__item u-2/3-desk u-1/2 u-1/1-palm">

          <div class=" [ card ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">

            <div ng-if="post.heroImgFull && post.heroImgPalm && post.heroImgPhone"
                 afkl-lazy-image="{{post.heroImgPhone}} 480w, {{post.heroImgPalm}} 768w, {{post.heroImgFull}}"
                 afkl-lazy-image-options="{'background': true}"
                 class=" [ card card__bg u-bg--{{post.heroImgPosition}} ] afkl-lazy-wrapper">
            </div>

            <div ng-if="!post.heroImgFull"
                 class=" [ card card__bg ]"
                 ng-style="{'background-color': post.projectColor}">
            </div>

          </div>

        </div><div class="layout__item u-1/3-desk u-1/2 u-1/1-palm">

          <div class="project-intro">

            <section class="typeset [ fadeInUp wow ]" data-wow-duration="1s" data-wow-delay="{{animationDelay}}s">
              <span class="typeset__label">Project</span>
              <h1 class="title title--serif title--highlight title--offset-left@palm">
                <span class="title__year" ng-if="post.projectYears">{{post.projectYears}}</span>
                <span ng-bind-html="post.projectTitle"></span>
              </h1>

              <p class="typeset__paragraph">
                {{post.projectDescription}}
              </p>

              <h2 class="typeset__title">
                <span class="typeset__label">Client</span>
                <span class="typeset__heading">{{post.projectClient}}</span>
              </h2>

              <h2 class="typeset__title">
                <span class="typeset__label">Role</span>
                <span class="typeset__heading" ng-if="post.projectRoleSteven">
                  {{post.projectRoleSteven}}
                </span>
                <span class="typeset__heading" ng-if="post.projectRoleGertjan">
                  {{post.projectRoleGertjan}}
                </span>
              </h2>

              <h2 class="typeset__title">
                <span class="typeset__label">Agency</span>
                <span class="typeset__heading">{{post.projectAgency}}</span>
              </h2>

              <h2 class="typeset__title">
                <span class="typeset__label">Visit website</span>
                <span class="typeset__heading">
                  <a href="{{post.projectUrlHref}}" class="anchor anchor--arrow" target="_blank" rel="noopener noreferrer">
                    {{post.projectUrlLabel}}
                  </a>
                </span>
              </h2>
            </section>

          </div>

        </div>
      </div>

    </section>

    <section class="scherm">

      <div class="layout [ wow fadeInUp ]" ng-if="post.projectWorkTitle" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
        <div class="layout__item u-1/1">

          <section class="typeset typeset--indent-h typeset--indent-v">
            <h2 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkTitleLabel">{{post.projectWorkTitleLabel}}</span>
              <span class="typeset__heading">{{post.projectWorkTitle}}</span>
            </h2>
          </section>

        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg1Full && post.projectWorkImg1Palm && post.projectWorkImg1Phone">
        <div class="layout__item u-1/1">
          <div class="project-graphic"
               ng-class="post.projectWorkImg1Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg1HighlightCaption}" ng-if="post.projectWorkImg1ShowCaption">{{post.projectWorkImg1Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg1Phone}} 480w, {{post.projectWorkImg1Palm}} 768w, {{post.projectWorkImg1Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg1Caption}]}"
                 class="afkl-lazy-wrapper [ project-graphic__image ]"></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg1Heading || projectWorkImg1Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg1Label">{{post.projectWorkImg1Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg1Heading">{{post.projectWorkImg1Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg1Body">
              {{post.projectWorkImg1Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg2Full && post.projectWorkImg2Palm && post.projectWorkImg2Phone">
        <div class="layout__item u-1/1">
          <div class="project-graphic"
                ng-class="post.projectWorkImg2Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg2HighlightCaption}" ng-if="post.projectWorkImg2ShowCaption">{{post.projectWorkImg2Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg2Phone}} 480w, {{post.projectWorkImg2Palm}} 768w, {{post.projectWorkImg2Full}}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg2Caption}]}"></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg2Heading || projectWorkImg2Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg2Label">{{post.projectWorkImg2Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg2Heading">{{post.projectWorkImg2Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg2Body">
              {{post.projectWorkImg2Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg3Full && post.projectWorkImg3Palm && post.projectWorkImg3Phone && post.projectWorkImg4Full && post.projectWorkImg4Palm && post.projectWorkImg4Phone">
        <div class="layout__item u-1/2 u-1/1-palm u-mb-palm">

          <div class="project-graphic"
               data-wow-duration="0.7s"
               data-wow-delay="{{animationDelay}}s"
               ng-class="post.projectWorkImg3Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg3HighlightCaption}" ng-if="post.projectWorkImg3ShowCaption">{{post.projectWorkImg3Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg3Phone}} 480w, {{post.projectWorkImg3Palm}} 768w, {{post.projectWorkImg3Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg3Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>

        </div><div class="layout__item u-1/2 u-1/1-palm">

          <div class="project-graphic"
               data-wow-duration="0.7s"
               data-wow-delay="{{animationDelay}}s"
               ng-class="post.projectWorkImg4Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg4HighlightCaption}" ng-if="post.projectWorkImg4ShowCaption">{{post.projectWorkImg4Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg4Phone}} 480w, {{post.projectWorkImg4Palm}} 768w, {{post.projectWorkImg4Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg4Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>

        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg4Heading || projectWorkImg4Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg4Label">{{post.projectWorkImg4Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg4Heading">{{post.projectWorkImg4Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg4Body">
              {{post.projectWorkImg4Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg5Full && post.projectWorkImg5Palm && post.projectWorkImg5Phone">
        <div class="layout__item u-1/1">
          <div class="project-graphic" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s" ng-class="post.projectWorkImg5Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg5HighlightCaption}" ng-if="post.projectWorkImg5ShowCaption">{{post.projectWorkImg5Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg5Phone}} 480w, {{post.projectWorkImg5Palm}} 768w, {{post.projectWorkImg5Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg5Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg5Heading || projectWorkImg5Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg5Label">{{post.projectWorkImg5Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg5Heading">{{post.projectWorkImg5Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg5Body">
              {{post.projectWorkImg5Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg6Full && post.projectWorkImg6Palm && post.projectWorkImg6Phone && post.projectWorkImg7Full && post.projectWorkImg7Palm && post.projectWorkImg7Phone">
        <div class="layout__item u-1/2 u-1/1-palm u-mb-palm">

          <div class="project-graphic" ng-class="post.projectWorkImg6Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg6HighlightCaption}" ng-if="post.projectWorkImg6ShowCaption">{{post.projectWorkImg6Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg6Phone}} 480w, {{post.projectWorkImg6Palm}} 768w, {{post.projectWorkImg6Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg6Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>

        </div><div class="layout__item u-1/2 u-1/1-palm">
          <div class="project-graphic" ng-class="post.projectWorkImg7Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg7HighlightCaption}" ng-if="post.projectWorkImg7ShowCaption">{{post.projectWorkImg7Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg7Phone}} 480w, {{post.projectWorkImg7Palm}} 768w, {{post.projectWorkImg7Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg7Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg7Heading || projectWorkImg7Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg7Label">{{post.projectWorkImg7Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg7Heading">{{post.projectWorkImg7Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg7Body">
              {{post.projectWorkImg7Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg8Full && post.projectWorkImg8Palm && post.projectWorkImg8Phone">
        <div class="layout__item u-1/1">
          <div class="project-graphic"
                ng-class="post.projectWorkImg8Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg8HighlightCaption}" ng-if="post.projectWorkImg8ShowCaption">{{post.projectWorkImg8Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg8Phone}} 480w, {{post.projectWorkImg8Palm}} 768w, {{post.projectWorkImg8Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg8Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg8Heading || projectWorkImg8Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg8Label">{{post.projectWorkImg8Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg8Heading">{{post.projectWorkImg8Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg8Body">
              {{post.projectWorkImg8Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg9Full && post.projectWorkImg9Palm && post.projectWorkImg9Phone && post.projectWorkImg10Full && post.projectWorkImg10Palm && post.projectWorkImg10Phone">
        <div class="layout__item u-1/2 u-1/1-palm u-mb-palm">

          <div class="project-graphic" ng-class="post.projectWorkImg9Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg9HighlightCaption}" ng-if="post.projectWorkImg9ShowCaption">{{post.projectWorkImg9Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg9Phone}} 480w, {{post.projectWorkImg9Palm}} 768w, {{post.projectWorkImg9Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg9Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>

        </div><div class="layout__item u-1/2 u-1/1-palm">
          <div class="project-graphic" ng-class="post.projectWorkImg10Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg10HighlightCaption}" ng-if="post.projectWorkImg10ShowCaption">{{post.projectWorkImg10Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg10Phone}} 480w, {{post.projectWorkImg10Palm}} 768w, {{post.projectWorkImg10Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg10Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>

        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg10Heading || projectWorkImg10Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg10Label">{{post.projectWorkImg10Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg10Heading">{{post.projectWorkImg10Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg10Body">
              {{post.projectWorkImg10Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg11Full && post.projectWorkImg11Palm && post.projectWorkImg11Phone">
        <div class="layout__item u-1/1">
          <div class="project-graphic"
                ng-class="post.projectWorkImg11Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg11HighlightCaption}" ng-if="post.projectWorkImg11ShowCaption">{{post.projectWorkImg11Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg11Phone}} 480w, {{post.projectWorkImg11Palm}} 768w, {{post.projectWorkImg11Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg11Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg11Heading || projectWorkImg11Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg11Label">{{post.projectWorkImg11Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg11Heading">{{post.projectWorkImg11Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg11Body">
              {{post.projectWorkImg11Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg12Full && post.projectWorkImg12Palm && post.projectWorkImg12Phone">
        <div class="layout__item u-1/1">
          <div class="project-graphic"
                ng-class="post.projectWorkImg12Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg12HighlightCaption}" ng-if="post.projectWorkImg12ShowCaption">{{post.projectWorkImg12Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg12Phone}} 480w, {{post.projectWorkImg12Palm}} 768w, {{post.projectWorkImg12Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg12Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg12Heading || projectWorkImg12Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg12Label">{{post.projectWorkImg12Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg12Heading">{{post.projectWorkImg12Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg12Body">
              {{post.projectWorkImg12Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg13Full && post.projectWorkImg13Palm && post.projectWorkImg13Phone && post.projectWorkImg10Full && post.projectWorkImg10Palm && post.projectWorkImg10Phone">
        <div class="layout__item u-1/2 u-1/1-palm u-mb-palm">

          <div class="project-graphic" ng-class="post.projectWorkImg13Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg13HighlightCaption}" ng-if="post.projectWorkImg13ShowCaption">{{post.projectWorkImg13Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg13Phone}} 480w, {{post.projectWorkImg13Palm}} 768w, {{post.projectWorkImg13Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg13Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>

        </div><div class="layout__item u-1/2 u-1/1-palm">
          <div class="project-graphic" ng-class="post.projectWorkImg14Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg14HighlightCaption}" ng-if="post.projectWorkImg14ShowCaption">{{post.projectWorkImg14Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg14Phone}} 480w, {{post.projectWorkImg14Palm}} 768w, {{post.projectWorkImg14Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg14Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>

        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg14Heading || projectWorkImg14Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg14Label">{{post.projectWorkImg14Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg14Heading">{{post.projectWorkImg14Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg14Body">
              {{post.projectWorkImg14Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg15Full && post.projectWorkImg15Palm && post.projectWorkImg15Phone && post.projectWorkImg10Full && post.projectWorkImg10Palm && post.projectWorkImg10Phone">
        <div class="layout__item u-1/2 u-1/1-palm u-mb-palm">

          <div class="project-graphic" ng-class="post.projectWorkImg15Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg15HighlightCaption}" ng-if="post.projectWorkImg15ShowCaption">{{post.projectWorkImg15Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg15Phone}} 480w, {{post.projectWorkImg15Palm}} 768w, {{post.projectWorkImg15Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg15Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>

        </div><div class="layout__item u-1/2 u-1/1-palm">
          <div class="project-graphic" ng-class="post.projectWorkImg16Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg16HighlightCaption}" ng-if="post.projectWorkImg16ShowCaption">{{post.projectWorkImg16Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg16Phone}} 480w, {{post.projectWorkImg16Palm}} 768w, {{post.projectWorkImg16Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg16Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>

        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg16Heading || projectWorkImg16Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg16Label">{{post.projectWorkImg16Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg16Heading">{{post.projectWorkImg16Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg16Body">
              {{post.projectWorkImg16Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg17Full && post.projectWorkImg17Palm && post.projectWorkImg17Phone && post.projectWorkImg10Full && post.projectWorkImg10Palm && post.projectWorkImg10Phone">
        <div class="layout__item u-1/2 u-1/1-palm u-mb-palm">

          <div class="project-graphic" ng-class="post.projectWorkImg17Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg17HighlightCaption}" ng-if="post.projectWorkImg17ShowCaption">{{post.projectWorkImg17Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg17Phone}} 480w, {{post.projectWorkImg17Palm}} 768w, {{post.projectWorkImg17Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg17Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>

        </div><div class="layout__item u-1/2 u-1/1-palm">
          <div class="project-graphic" ng-class="post.projectWorkImg18Options" data-wow-duration="0.7s" data-wow-delay="{{animationDelay}}s">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg18HighlightCaption}" ng-if="post.projectWorkImg18ShowCaption">{{post.projectWorkImg18Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg18Phone}} 480w, {{post.projectWorkImg18Palm}} 768w, {{post.projectWorkImg18Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg18Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>

        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg18Heading || projectWorkImg18Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg18Label">{{post.projectWorkImg18Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg18Heading">{{post.projectWorkImg18Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg18Body">
              {{post.projectWorkImg18Body}}
            </p>
          </section>
        </div>
      </div>

      <div class="layout u-mb [ wow fadeInUp ]"
           data-wow-duration="0.7s"
           data-wow-delay="{{animationDelay}}s"
           ng-if="post.projectWorkImg19Full && post.projectWorkImg19Palm && post.projectWorkImg19Phone">
        <div class="layout__item u-1/1">
          <div class="project-graphic"
                ng-class="post.projectWorkImg19Options">
            <p class="project-graphic__caption" ng-class="{'project-graphic__caption--highlight': post.projectWorkImg19HighlightCaption}" ng-if="post.projectWorkImg19ShowCaption">{{post.projectWorkImg19Caption}}</p>
            <div afkl-lazy-image="{{post.projectWorkImg19Phone}} 480w, {{post.projectWorkImg19Palm}} 768w, {{post.projectWorkImg19Full}}"
                 afkl-lazy-image-options="{'imgAttrs': [{'alt': post.projectWorkImg19Caption}]}"
                 class="afkl-lazy-wrapper afkl-img-ratio-1-2 [ project-graphic__image ] "></div>
          </div>
        </div>
        <div class="layout__item u-1/2 u-1/1-portable"
             ng-if="post.projectWorkImg19Heading || projectWorkImg19Body">
          <section class="typeset typeset--indent-h typeset--indent-v typeset--squeeze">
            <h1 class="typeset__title">
              <span class="typeset__label" ng-if="post.projectWorkImg19Label">{{post.projectWorkImg19Label}}</span>
              <span class="typeset__heading" ng-if="post.projectWorkImg19Heading">{{post.projectWorkImg19Heading}}</span>
            </h1>
            <p class="typeset__paragraph" ng-if="post.projectWorkImg19Body" ng-bind-html="post.projectWorkImg19Body">
            </p>
          </section>
        </div>
      </div>

    </section>

  </div>
</div>
