/*------------------------------------*\
  #PAGE SLOGAN
\*------------------------------------*/

.card__slogan {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 35px;

  margin: 0;
  padding: 0;

  color: #fff;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.08px;

  @include media-query(portable) {
    top: 25px;
  }

  @include media-query(phone) {
    font-size: 28px;
    line-height: 30px;

    span {
      font-size: 22px;
    }
  }

  span {
    display: block;

    color: #909090;
    font-size: 28px;
    font-weight: 300;
  }
}
