/*------------------------------------*\
  #PROJECT
\*------------------------------------*/

.project__hero {

  .project__hero--intro {
    position: absolute;
    bottom: 30px;

    padding: 0 9%;

    b {
      color: #fff;
    }
  }
}

.project__hero--slogan {
  padding: 135px 25px 0;

  color: #fff;
  font-size: 100px;
  line-height: 96px;
}

.project__bio {
  margin-right: 10%;
  margin-left: 18%;
  padding-top: 260px;

  .project__bio--header {
    margin-bottom: 75px;

    font-size: 42px;
  }

  .project__bio--paragraph {
    margin-bottom: 50px;

    color: $yom-grey;
    font-size: 16px;
  }

  .project__bio--label {
    margin-bottom: 35px;

    color: $yom-black;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;

    span {
      display: block;

      color: $yom-grey;
      font-size: 17px;
      font-weight: 300;
    }
  }
}

.project__image {
  padding: 0 10%;

  @include media-query(palm) {
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    margin-bottom: 15px;
  }

  span {
    display: block;
  }
}
