/*------------------------------------*\
    #PAGE SLOGAN
\*------------------------------------*/

.card__slogan{
    position: absolute;
    left: 35px;
    top: 40px;
    z-index: 1;

    
    color: #FFF;
    font-weight: 700;
    line-height: 40px;
    font-size: 34px;
    letter-spacing: -1.08px;

    margin: 0;
    padding: 0;

    span{
        display: block;
        font-size: 28px;
        font-weight: 300;
        color: #909090;
    }
    
    @include media-query(portable) {
        top: 25px;
    }

    @include media-query(phone) {
        font-size: 28px;
        line-height: 30px;

        span{
            font-size: 22px;
        }
    }
}