/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header,
.header {
  position: relative;

  width: 100%;
  min-height: 235px;
}

.site-navigation {
  margin-left: 67.5%;
  padding-top: 20px;
  padding-bottom: 33px;
  padding-left: 4.5%;

  @include media-query(portable) {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 32px;
    padding-left: 0;

    text-align: right;
  }

  @include media-query(phone) {
    padding-right: 0;

    text-align: left;
  }
}

.yom {
  color: $yom-black;
  font-size: 53px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -1.6px;
  text-decoration: none;

  @include media-query(phone) {
    display: inline-block;
    margin-top: 32px;
    padding: 0 16px;

    text-align: left;
  }
}

.yom-slogan {
  display: none;

  @include media-query(portable) {
    display: block;
    width: 100%;
    padding: 0 0 0 50%;

    color: $yom-grey;
    font-size: 20px;
    line-height: 31px;
  }

  @include media-query(phone) {
    margin: 20px 0 30px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.yom-social {
  display: none;

  @include media-query(portable) {
    display: block;
    float: left;
    margin-top: -86px;
    padding: 0 16px;
  }

  @include media-query(phone) {
    float: none;
    margin-top: 0;
  }
}
