/*------------------------------------*\
    #PAGE-INTRO
\*------------------------------------*/

.intro{
    margin-left: 18%;
    height: 100%;

    .intro__header{
        max-width: 270px;
        height: 100%;
        margin: -31px 0 55px 0;
        padding: 0;
        font-size: 24px;
        line-height: 36px;
        color: $yom-grey;

        p{
            margin-bottom: 50px;
        }
    }

    .phone{
        display: block;
        margin-top: 20px;
        font-size: 20px;
        color: $yom-grey;
    }

    .alignment-bottom{
        position: absolute;
        bottom: 10%;
    }

}

// .page-intro{
//     text-align: left;
//     padding-left: 2%;

//     p{
//         max-width: 270px;
//         margin: -9px 0 55px 0;
//         font-size: 24px;
//         line-height: 36px;
//         color: $yom-grey;

//         @include media-query(portable) {
//             width: 275px;
//             max-width: 100%;
//             float: right;
//             margin: 20px 0 25px 0;

//             &:after {
//                 clear: both;
//                 float: none;
//             }

//         }
//         @include media-query(phone) {
//             width: 100%;
//             font-size: 20px;
//             line-height: 31px;
//             margin: 20px 0 30px 0;
//         }

//     }
    

//     .alignment-bottom{
//         position: absolute;
//         bottom: 35%;

//         @include media-query(portable) {
//             position: static;
//             width: 100%;
//             margin-top: 178px;
//         }

//         @include media-query(phone) {
//             padding-left: 8px;
//         }
//     }

//     @include media-query(portable) {
//         .button--arrow{
//             display: none;
//         }
//     }
// }

// .intro-header{
//     @include media-query(portable) {
//         position: relative;
//         top: 60px;
//         width: 275px;
//         max-width: 100%;
//         float: right;
//     }

//     @include media-query(phone) {
//         top: 20px;
//         width: 100%;
//         padding-left: 8px;
//     }
// }

// .intro{
//     font-size: 20px;
//     color: $yom-grey;

//     b{
//         display: block;
//         color: $yom-black;
//         margin-bottom: 5px;
//     }
// }

// .phone{
//     display: block;
//     margin-top: 20px;
//     font-size: 20px;
//     color: $yom-grey;
//     @include media-query(portable) {
//         display: none;
//     }
// }