/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.button {
  @include transition(background-color, .3s, cubic-bezier(.250, .460, .450, .940));
  @include border-radius(3px);
  position: relative;

  display: inline-block;
  width: 180px;
  height: 58px;
  padding: 0 35px;
  border: 1px solid #979797;

  color: $yom-black;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  line-height: 55px;
  font-weight: 700;

  &:hover {
    background: rgba(200, 200, 200, .6);
  }
}

.button--arrow {
  i {
    position: absolute;
    top: 17px;
    right: 25px;
  }

  i:after,
  i:before {
    position: absolute;

    width: 6px;
    height: 11px;
    border-left: 2px solid #979797;

    content: '';
    pointer-events: none;
  }

  i:after {
    -webkit-transform: skew(-135deg);
  }

  i:before {
    top: 11px;
    -webkit-transform: skew(135deg);
  }
}

.button--black {
  border-color: $yom-black;
  background: $yom-black;
  color: #fff;

  &:hover {
    background: #fff;
    color: $yom-black;
  }
}

.button--dia {
  width: auto;

  color: #fff;
}

.button--social {
  width: 58px;
  padding: 0;

  font-size: 20px;
  text-align: center;
}
