/*------------------------------------*\
    #TAG LIST
\*------------------------------------*/

.tag-list{
    li{
        margin-bottom: 10px;
        margin-right: 3px;

        .button--dia{
            padding: 0 13px;
        }
    }
}