/*------------------------------------*\
  #PAGE-INTRO
\*------------------------------------*/

.intro {
  height: 100%;
  margin-left: 18%;

  .intro__header {
    max-width: 270px;
    height: 100%;
    margin: -31px 0 55px;
    padding: 0;

    color: $yom-grey;
    font-size: 24px;
    line-height: 36px;

    p {
      margin-bottom: 50px;
    }
  }

  .phone {
    display: block;
    margin-top: 20px;

    color: $yom-grey;
    font-size: 20px;
  }

  .alignment-bottom {
    position: absolute;
    bottom: 10%;
  }
}
