// --------------------------------------------------
// +++ COMPONENT TRANSITION +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// TRANSITION

.transition {
  position: fixed;
  width: 0;
  height: 100vh;
  z-index: 3;
  animation-duration: 1s;
  background: $yom-cod;
  transition-timing-function: ease-in-out;
  transform: translate3d(0,0,0);
  will-change: width, height;
}

.animating {
  .transition {
    animation-name: swipeInOut;
  }
}

// === KEYFRAMES ===
// --------------------------------------------------

// SWIPEINOUT

@keyframes swipeInOut {
  0% {width: 0;}
  45% {width: 100%;}
  55% {width: 100%; height: 100vh;}
  100% {height: 0; width: 100%;}
}
