// ---------------------------------------------------
// +++ COMPONENT INTRO +++
// --------------------------------------------------

// === BASE ===
// --------------------------------------------------

// INTRO

// === PARTS ===
// --------------------------------------------------

// HEADER
// SLOGAN

// === DOCS ===
// --------------------------------------------------

// DOCS

// --------------------------------------------------
// +++ END +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// INTRO

.intro {
  height: 100%;
  margin-left: 18%;
}

// === PARTS ===
// --------------------------------------------------

// HEADER

.intro__header {
  max-width: 270px;
  height: 100%;
  margin: -31px 0 55px;
  padding: 0;

  color: $yom-dusty;
  font-size: 24px;
  line-height: 36px;
}

// SLOGAN

.intro__slogan {
  position: relative;
  left: -61%;
  top: -11.5%;

  width: 161%;

  @include font-domine();
  color: $yom-cod;
  font-size: 38px;
  line-height: 45px;

  text-shadow: 0 0 28px rgba(255,255,255,1);
}

.scherm-1 {
  @include media-query(desk) {
    margin-top: 100px;
  }
}

// === DOCS ===
// --------------------------------------------------

// DOCS

/*

Coming soon...

*/
