/*------------------------------------*\
    #TAG LIST
\*------------------------------------*/

.tag-list {
  li {
    margin-right: 3px;
    margin-bottom: 10px;

    .button--dia {
      padding: 0 10px;
    }
  }
}
