// --------------------------------------------------
// +++ COMPONENT BUTTON-ICON +++
// --------------------------------------------------

// === BASE ===
// --------------------------------------------------

// BTN-ICON

// === PARTS ===
// --------------------------------------------------

// LABEL

// === OPTIONS ===
// --------------------------------------------------

// CENTER

// === DOCS ===
// --------------------------------------------------

// DOCS

// --------------------------------------------------
// +++ END +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// BTN-ICON

.btn-icon {
  display: inline-block;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

// === PARTS ===
// --------------------------------------------------

// ICON

.btn-icon__svg {
  display: inline-block;
  max-width: 34px;
  margin-bottom: 5px;
}

// LABEL

.btn-icon__label {
  display: block;
  font-size: 18px;
  color: $yom-cod;
}

// === OPTIONS ===
// --------------------------------------------------

// CENTER

.btn-icon--left {
  text-align: left;
}

// CENTER

.btn-icon--center {
  text-align: center;
}

// RIGHT

.btn-icon--right {
  text-align: right;
}

// === DOCS ===
// --------------------------------------------------

// DOCS

/*
Button-icon

Markup:
<a href="#" class="btn-icon">
  <svg class="btn-icon__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 22">
    <path d="M0 11 0 11c0 0.1 0 0.3 0.1 0.4l11 10.4c0.2 0.2 0.5 0.2 0.7 0 0.2-0.2 0.2-0.5 0-0.7L1.7 11.5h31.8c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5H1.7l10.2-9.7c0.2-0.2 0.2-0.5 0-0.7 -0.2-0.2-0.5-0.2-0.7 0l-11 10.4C0 10.7 0 10.8 0 11"/>
  </svg>
  <span class="btn-icon__label">Go back</span>
</a>

Style guide: Base - Button-icon
*/
