/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Responsive...........Set up and name our breakpoints.
 * Settings responsive..inuitcss’ responsive settings.
 * Colors...............Color variables and naming.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Widths...............Simple width classes.
 * Mixins extend........Yourownmood mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Document.............Document level styling
 * Headings.............H1 - H6 styles (HTML element).
 * Lists................Basic styling for regular ordered and unordered lists.
 * Images...............Provides very basic styling for images (img).
 * Horizontal-line......
 * Headings.............
 *
 * OBJECTS
 * Wrappers.............Max-width wrappers.
 * Layout...............inuitcss’ layout tool.
 * Layout extended......inuitcss’ layout tool extended.
 * List-bare............A simple object to remove bullets and indents from lists.
 * List-inline..........Displays a list as one horizontal row.
 * Lazy-image...........Lazy image tool classes.
 *
 * COMPONENTS
 * Button
 * Screens
 * Cards
 * Nav-list
 * Hamburger
 * Title................Title component *[new]*
 * Typeset..............Typographical structure set *[new]*
 *
 * TRUMPS
 * Clearfix.............I can’t believe we still need this in 2014.
 * Widths...............Simple width helper classes.
 * Widths-responsive....Polyfill for responsive width classes.
 * Bg-position..........Background position helper classes.
 * Text.................Text adjustment helper classes.
 *
 * SHAME
 * Shame................Quick fixes and hacks.
 */


/**
 * #SETTINGS
 */
@import 'node_modules/inuit-defaults/settings.defaults';
@import '_settings/settings.responsive';
@import 'node_modules/inuit-responsive-settings/settings.responsive';
@import '_settings/settings.colors';


/**
 * #TOOLS
 */
@import '_tools/tools.fonts';
@import 'node_modules/inuit-functions/tools.functions';
@import 'node_modules/inuit-mixins/tools.mixins';
@import 'node_modules/inuit-tools-widths/tools.widths';
@import '_tools/tools.mixins';
@import 'node_modules/inuit-responsive-tools/tools.responsive';


/**
 * #GENERIC
 */
@import 'node_modules/inuit-normalize/generic.normalize';
@import 'node_modules/inuit-box-sizing/generic.box-sizing';
@import '_generic/generic.fonts';


/**
 * #BASE
 */
@import 'node_modules/inuit-page/base.page';
@import '_base/base.document';
@import 'node_modules/inuit-headings/base.headings';
@import 'node_modules/inuit-lists/base.lists';
@import 'node_modules/inuit-images/base.images';
@import '_base/base.horizontal-line';
@import '_base/base.headings';


/**
 * #OBJECTS
 */
@import '_objects/objects.wrappers';
$inuit-enable-layout--flush: true;
$inuit-enable-layout--middle: true;
$inuit-enable-layout--center: true;

@import 'node_modules/inuit-layout/objects.layout';
@import '_objects/objects.layout';
@import 'node_modules/inuit-list-bare/objects.list-bare';
@import 'node_modules/inuit-list-inline/objects.list-inline';
@import '_objects/objects.lazy-image';


/**
 * #COMPONENTS
 */
@import '_components/components.typography';
@import '_components/components.screen';
@import '_components/components.header';
@import '_components/components.footer';
@import '_components/components.cards';
@import '_components/components.anchors';
@import '_components/components.button';
@import '_components/components.page-slogan';
@import '_components/components.page-intro';
@import '_components/components.agency-list';
@import '_components/components.scrollbox';
@import '_components/components.project';
@import '_components/components.lists';
@import '_components/components.nav-list';
@import '_components/components.hamburger';
@import '_components/components.title';
@import '_components/components.transition';
@import '_components/components.typeset';


/**
 * #TRUMPS
 */
@import 'node_modules/inuit-clearfix/trumps.clearfix';
$inuit-widths-columns: (
  1,
  2,
  3,
  4,
  5,
  6,
);

@import 'node_modules/inuit-widths/trumps.widths';
$inuit-widths-columns-responsive: (
  1,
  2,
  3,
  4,
  5,
  6,
);

@import 'node_modules/inuit-responsive-widths/trumps.widths-responsive';
$inuit-enable-paddings: true;
$inuit-enable-paddings--large: true;
$inuit-enable-margins: true;

@import 'node_modules/inuit-spacing/trumps.spacing';
$inuit-enable-responsive-paddings: true;
$inuit-enable-responsive-margins: true;

@import 'node_modules/inuit-responsive-spacing/trumps.spacing-responsive';
@import '_trumps/trumps.animation';
@import '_trumps/trumps.show-hide';
@import '_trumps/trumps.bg-position';
@import '_trumps/trumps.text';


/**
 * #SHAME
 */
@import '_shame/shame';
