/*------------------------------------*\
  #PAGE EXTENDED
\*------------------------------------*/

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

hr {
  height: 1px;
  border: 0;

  background: $yom-border;
}
