<section>
  <div class="wrapper">
    <div class="layout">
      <div class="layout__item u-1/1">
        <h1 class="wow fadeInUp" data-wow-duration="0.7s">About us</h1>
      </div>
    </div>

    <div class="layout">
      <div class="layout__item u-3/5 u-1/1-palm">
        <p class="txt-body [ wow fadeInUp ] " data-wow-duration="0.7s" data-wow-delay="0.2s">
          Since 2009 Yourownmood (Steven and Gert-Jan) has worked for some of the most interesting projects and brands in the Netherlands.
          Started years ago with a broader view of “digital world” followed by the last years on a few specific disciplines.
          Delivering a high standard in online User Experience and Brand presence for applications, corporate, campaign and web-shops.
          <br><br>
          We strongly believe that the most successful projects are the ones were a great team is put together.
          Totally different people, with a different skillset, put together but capable of achieving the end goal with success.
          In short our work can be described as:
        </p>

        <ul class="list-arrow u-mt [ wow fadeInUp ]" data-wow-duration="0.7s" data-wow-delay="0.2s">
          <li>Contribute in an agile (scrum) project, start small from the very first beginning or work in larger teams.</li>
          <li>Front-end development: Specialised in CSS development and architecture. Focusing on setting up a scalable, maintainable and good performing CSS architecture and workflow.</li>
          <li>Visual- and Interaction Design: Translating a well known Brand into an online experience.</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="wrapper--screen u-mt u-pt">
    <div class="layout">
      <div class="layout__item u-1/1">
        <br>
        <div afkl-lazy-image="assets/images/about_yourownmood.jpg"
             afkl-lazy-image-options="{'offset': 500, 'imgAttrs': [{'class': 'u-1/1', 'alt': 'Yourownmood'}]}"
             class="wow u-1/1 fadeInUp"
             data-wow-duration="0.7s"
             data-wow-delay="0.4s"></div>
      </div>
    </div>
  </div>
</section>
