<!-- Intro -->
<div ng-controller="homeCtrl as home" ng-init="loaded()">
  <div class="scherm scherm-1">
    <div class="layout layout--flush">
      <div class="layout__item u-1/3 u-1/2-phone-to-desk u-1/1-phone">

        <!-- Profile left -->
        <div class=" [ card card__profile card__bg card--sb ] wow fadeInUp"
             data-wow-duration="0.7s"
             afkl-lazy-image="assets/images/profile_stevenbax.jpg"
             afkl-lazy-image-options="{'background': true, 'offset': 250}">
          <p class="profile__name">
            <b>Steven Bax</b>
            Front-end developer
          </p>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Steven Bax</b>
              Front-end developer
              <span class="profile__btns">
                <a href="https://nl.linkedin.com/pub/steven-bax/20/b03/5a8" class="button button--social" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 25.8 25.7">
                    <path d="M0.4 8.5h5.3v17.2H0.4V8.5zM3.1 0c1.7 0 3.1 1.4 3.1 3.1 0 1.7-1.4 3.1-3.1 3.1C1.4 6.2 0 4.8 0 3.1 0 1.4 1.4 0 3.1 0" class="a"/><path d="M9.1 8.5h5.1v2.3h0.1c0.7-1.4 2.5-2.8 5.1-2.8 5.4 0 6.4 3.6 6.4 8.2v9.4h-5.3v-8.4c0-2 0-4.6-2.8-4.6 -2.8 0-3.2 2.2-3.2 4.4v8.5H9.1V8.5z" class="a"/>
                  </svg>
                </a>
                <a href="#/contact" class="button button--black button--arrow">Get in touch <i></i></a>
              </span>
          </div>
        </div>

        <div class=" [ card card__project card--sb-project ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.2s">
          <p class="project__name">
            Currently working @
          </p>

          <div class="vh-align--img"
               afkl-lazy-image="assets/images/project/tnt/tnt.svg"
               afkl-lazy-image-options="{'offset': 250, 'imgAttrs': [{'class': 'vh-align--img u-1/1', 'alt': 'TNT'}]}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>TNT</b>
              Front-end development of the multi-language &amp; multi-country website
              <span class="profile__btns">
                <a href="#/project/tnt" class="button button--black button--arrow">View project <i></i></a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 u-1/2-phone-to-desk u-1/1-phone">

        <div class=" [ card card__profile card__bg card--gj ] wow fadeInUp"
            data-wow-duration="0.7s"
            afkl-lazy-image="assets/images/profile_gertjandegoede.jpg"
            afkl-lazy-image-options="{'offset': 250, 'background': true}">

          <p class="profile__name">
            <b>Gert-Jan de Goede</b>
            Visual designer
          </p>

          <span class="card__overlay profile__overlay card__animate">
            <p class="profile__name--overlay v-align">
              <b>Gert-Jan de Goede</b>
              Visual designer
              <span class="profile__btns">
                <a href="https://www.linkedin.com/pub/gert-jan-de-goede/1b/954/71a" class="button button--social" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 25.8 25.7">
                    <path d="M0.4 8.5h5.3v17.2H0.4V8.5zM3.1 0c1.7 0 3.1 1.4 3.1 3.1 0 1.7-1.4 3.1-3.1 3.1C1.4 6.2 0 4.8 0 3.1 0 1.4 1.4 0 3.1 0" class="a"/><path d="M9.1 8.5h5.1v2.3h0.1c0.7-1.4 2.5-2.8 5.1-2.8 5.4 0 6.4 3.6 6.4 8.2v9.4h-5.3v-8.4c0-2 0-4.6-2.8-4.6 -2.8 0-3.2 2.2-3.2 4.4v8.5H9.1V8.5z" class="a"/>
                  </svg>
                </a>
                <a href="#/contact" class="button button--black button--arrow">Get in touch <i></i></a>
              </span>
            </p>
          </span>
        </div>

        <div class=" [ card card__project card--gj-project ] wow fadeInUp " data-wow-duration="0.7s" data-wow-delay="0.35s">
          <p class="project__name">
            Currently working @
          </p>

          <div class="vh-align--img"
               afkl-lazy-image="assets/images/project/fedex/fedex-logo@2x.png"
               afkl-lazy-image-options="{'offset': 250, 'imgAttrs': [{'class': 'vh-align--img u-1/1', 'alt': 'FedEx'}]}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>FedEx</b>
              FedEx and TNT are coming together to connect you to more opportunities
              <span class="project__btns">
                <a href="#/project/fedex" class="button button--black button--arrow">View project <i></i></a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 hide-portable">

        <div class="intro wow fadeIn" data-wow-duration="2s">
          <div class="intro__header">
            <p class="intro__slogan">Guiding digital strategy into online experiences of today's standards</p>
            <a href="#/contact" class="button button--arrow">Contact us <i></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- We worked @ -->
  <section class="scherm">
    <p class="worked-at wow fadeIn" data-wow-duration="2s">
      <b>We have worked @</b>
      TNT, FedEx, NEMO Science Museum, ING, Alerhande, Ultimaker, Sunweb, Budget Energie, Ruimtemakers, Sloop de Crisis, KRO, Quantore, Avero Achmea, Waterfootprint Network, Leukedingendoen, Van Nelle Ontwerpfabriek.
    </p>
  </section>

  <!-- Projects -->
  <section class="scherm scherm-2">
    <div class="layout layout--flush">
      <div class="layout__item u-1/3 u-1/2-lap u-1/1-palm">

        <div class=" [ card card__project card--allerhande  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="assets/images/project/allerhande/allerhande.svg"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Allerhande</b>
              Biggest inspirational food website of The Netherlands
              <span class="project__btns">
                <a href="http://www.ah.nl/allerhande/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--sunweb  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg ]"
               afkl-lazy-image="assets/images/project/sunweb/sunweb-nav.jpg"
               afkl-lazy-image-options="{'background': true, 'offset': 250}">
          </div>

          <div afkl-lazy-image="assets/images/project/sunweb/sunweb.png"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Sunweb</b>
              Sunny side of travel agency Sunweb
              <span class="project__btns">
                <a href="#/project/sunweb" class="button button--black button--arrow">View project <i></i></a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--liander  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg ] "
               afkl-lazy-image="assets/images/project/liander/liander.jpg"
               afkl-lazy-image-options="{'background': true, 'offset': 250}">
          </div>

          <div afkl-lazy-image="assets/images/project/liander/liander.svg"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Liander.nl</b>
              Dutch Grid Operator
              <span class="project__btns">
                <a href="https://www.liander.nl/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 u-1/2-lap u-1/1-palm">

        <div class=" [ card card__project card--ecover  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="assets/images/project/ecover/ecover.png"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Ecover</b>
              Pioneering a cleaner clean worldwide
              <span class="project__btns">
                <a href="http://uk.ecover.com/en/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--sdc  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="assets/images/project/sloopdecrisis/sloopdecrisis.svg"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Sloopdecrisis.nl</b>
              Persuasive action site
              <span class="project__btns">
                <a href="http://www.sloopdecrisis.nl" class="button button--black button--arrow" target="_blank">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--be  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="assets/images/project/budgetenergie/budgetenergie.svg"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Budget Energie</b>
              Well priced online energy supplier
              <span class="project__btns">
                <a href="http://www.budgetenergie.nl" class="button button--black button--arrow" target="_blank">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

      </div><div class="layout__item u-1/3 u-1/1-portable">

        <div class=" [ card card__project card--ing  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg ]"
               afkl-lazy-image="assets/images/project/ing/ing.jpg"
               afkl-lazy-image-options="{'background': true, 'offset': true}">
          </div>

          <div afkl-lazy-image="assets/images/project/ing/ing.svg"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>ING</b>
              A global financial institution of Dutch origin
              <span class="project__btns">
                <a href="http://www.ing.nl/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--ldd  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <div afkl-lazy-image="assets/images/project/leukedingendoen/leukedingendoen.svg"
               afkl-lazy-image-options="{'offset': 250}"></div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Leukedingendoen.nl</b>
              Is er nog iets leuks te doen?
              <span class="project__btns">
                <a href="http://www.leukedingendoen.nl/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--ultimaker  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
          <div class=" [ card card__bg ] "
               afkl-lazy-image="assets/images/project/ultimaker/ultimaker.jpg"
               afkl-lazy-image-options="{'background': true, 'offset': true}">
          </div>

          <div class="card__overlay card__animate project__overlay">
            <p class="project__name--overlay v-align">
              <b>Ultimaker</b>
              Best desktop 3D Printer on the market
              <span class="project__btns">
                <a href="http://ultimaker.com/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
              </span>
            </p>
          </div>
        </div>

        <div class=" [ card card__project card--tags  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

          <p>We like</p>

          <ul class=" [ list-bare list-inline ] tag-list">
            <li><span class="button button--dia">Scrum</span></li>
            <li><span class="button button--dia">Inuit.css</span></li>
            <li><span class="button button--dia">Scalability</span></li>
            <li><span class="button button--dia">Craft</span></li>
            <li><span class="button button--dia">Sketch</span></li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <!-- We worked with -->
  <section class="scherm">

    <div class="layout">
      <div class="layout__item u-1/1">
        <p class="worked-at  wow fadeIn" data-wow-duration="2s">
          <b>We work with the following agencies:</b>
          Jungle Minds, Fabrique, Doornvogel brand intimacy, We Are Reasonable People, Branding &amp; more
        </p>
      </div>
    </div>

    <div class=" [ layout layout--middle ] agency-list wow fadeIn" data-wow-duration="2s">
      <div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.jungleminds.nl/"
           target="_blank"
           class="agency-list__link agency-1 afkl-lazy-wrapper"
           afkl-lazy-image="assets/images/agency/jungleminds.jpg"
           afkl-lazy-image-options="{'offset': 250}"></a>
      </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.fabrique.nl/"
           target="_blank"
           class="agency-list__link agency-2 afkl-lazy-wrapper"
           afkl-lazy-image="assets/images/agency/fabrique.svg"
           afkl-lazy-image-options="{'offset': 250}"></a>
      </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.doornvogel.com/"
           target="_blank"
           class="agency-list__link agency-3 afkl-lazy-wrapper"
           afkl-lazy-image="assets/images/agency/doornvogel.jpg"
           afkl-lazy-image-options="{'offset': 250}"></a>
      </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
        <a href="http://www.wearereasonablepeople.com/"
           target="_blank"
           class="agency-list__link agency-4 afkl-lazy-wrapper"
           afkl-lazy-image="assets/images/agency/warp.svg"
           afkl-lazy-image-options="{'offset': 250}"></a>
      </div>
    </div>

  </section>

</div>
