<header>
  <nav id="js-scrollboxProjects" class="scrollbox scrollbox__projects overrule slideInOut" ng-show="visibleProjects">
    <div class="scrollbox__cards">
      <div class="scrollbox__card" ng-repeat="post in posts">
        <div class="card">

          <a ng-if="post.projectThumb"
             href="#/project/{{post.url}}"
             ng-click="toggle('projects'); toggle('navigation')"
             class=" [ card card__bg bg-{{post.projectThumbPosition}} ] afkl-lazy-wrapper"
             afkl-lazy-image="{{post.projectThumb}} 480w, {{post.projectThumb}} 768w, {{post.projectThumb}}"
             afkl-lazy-image-options="{'background': true, 'offset': 250}">

            <span class="card--info card__animate">
                <b>{{post.projectTitle}}</b>
                <br>
                {{post.projectClient}}
            </span>

            <div ng-if="post.projectLogo"
                 alt="{{post.heroTitle}}"
                 class="scrollbox__logo"
                 afkl-lazy-image="{{post.projectLogo}} 480w, {{post.projectLogo}} 768w, {{post.projectLogo}}"
                 afkl-lazy-image-options="{'offset': 250}"></div>
          </a>

          <a ng-if="!post.projectThumb"
             href="#/project/{{post.url}}"
             ng-click="toggle('projects'); toggle('navigation')"
             class=" [ card card__bg bg-{{post.projectThumbPosition}} ] "
             ng-style="{'background-color': post.projectColor}">
            <span class="card--info card__animate">
                <b>{{post.projectTitle}}</b>
                <br>
                {{post.projectClient}}
            </span>

            <div ng-if="post.projectLogo"
                 alt="{{post.heroTitle}}"
                 class="scrollbox__logo"
                 afkl-lazy-image="{{post.projectLogo}} 480w, {{post.projectLogo}} 768w, {{post.projectLogo}}"
                 afkl-lazy-image-options="{'offset': 250}"></div>
          </a>

        </div>
      </div>
    </div>
  </nav>

  <nav class="site-navigation wow fadeIn" data-wow-duration="2s">
    <a href="#/" class="site-navigation__back" ng-if="$location.path() != '/'">
      Back
    </a>

    <div class="site-navigation__push">
      <ul class="nav-list-phone list-inline" ng-show="visibleNavigation">
          <li><a class="nav-list__link-phone" href="#/about" ng-click="visibleProjects = false; toggle('navigation')">About</a></li>
          <li><a class="nav-list__link-phone" href ng-click="toggle('projects');">Projects</a></li>
          <li><a class="nav-list__link-phone" href="#/contact" ng-click="visibleProjects = false; toggle('navigation')">Contact</a></li>
      </ul>

      <ul class="nav-list list-inline">
          <li class="nav-list__item"><a class="nav-list__link" href="#/about" ng-click="visibleProjects = false">About</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href ng-click="toggle('projects')">Projects</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="#/contact" ng-click="visibleProjects = false">Contact</a></li>
      </ul>

      <div class="nav-list__trigger">
        <button ng-click="toggle('navigation')"
                class="hamburger hamburger--squeeze"
                ng-class="{'is-active': visibleNavigation}">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>

      <a href="#/" ng-click="visibleProjects = false" class="yom">YOM.</a>

      <p class="yom-slogan">
          Guiding digital strategy into online experiences of today's standards
      </p>
    </div>
  </nav>
</header>
