<section>
    <div class="wrapper">
        <div class="layout">
            <div class="layout__item u-1/1">
                <h1>About Yourownmood</h1>
            </div>
        </div>

        <div class="layout">
            <div class="layout__item u-1/2 u-1/1-palm">
                <p>Since 2006 Palookaville has represented some of the most influential commercial photographers in Scandinavia. Founded by Tanya Wibye Nærdal the company is now run by Jon Harald Skeie Hoff.
                <br><br>
                We believe that the most astonishing pictures occur when the vision of the client and the photographer become one; making every job result in unique ideas and creative content.</p>
            </div><div class="layout__item u-1/2 u-1/1-palm">
                <p>Since 2006 Palookaville has represented some of the most influential commercial photographers in Scandinavia. Founded by Tanya Wibye Nærdal the company is now run by Jon Harald Skeie Hoff.
                <br><br>
                We believe that the most astonishing pictures occur when the vision of the client and the photographer become one; making every job result in unique ideas and creative content.</p>
            </div>
        </div>

        <div class="layout">
            <div class="layout__item u-1/1">
                <br>
                <img src="#" height="400" class="u-1/1" alt="">
            </div>
        </div>
    </div>
</section>