<!-- Intro -->
<div  ng-init="loaded()">
    <div class="scherm scherm-1">
        <div class="layout layout--flush">
            <div class="layout__item u-1/3 u-1/2-phone-to-desk u-1/1-phone">

                <!-- Profile left -->
                <div class=" [ card card--sb ] wow fadeInUp" data-wow-duration="0.7s">
                    <div class=" [ card card__bg ] lazy" data-original="assets/images/profile_stevenbax.jpg">

                        <p class="profile__name">
                            <b>Steven Bax</b>
                            Web-developer
                        </p>

                        <span class="card__overlay card__animate profile__overlay">
                            <p class="profile__name--overlay v-align">
                                <b>Steven Bax</b>
                                Web-developer
                            </p>

                            <div class="profile__btns">
                                <div class="profile__social">
                                    <a href="https://twitter.com/yourownmood" class="button button--social" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://nl.linkedin.com/pub/steven-bax/20/b03/5a8" class="button button--social" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>

                                <a href="#/profile/steven-bax" class="button button--black button--arrow">Hire <i></i></a><!-- &#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6E%66%6F%40%79%6F%75%72%6F%77%6E%6D%6F%6F%64%2E%6E%6C -->
                            </div>
                        </span>

                    </div>
                </div>

                <div class=" [ card--sb-project ] wow fadeInUp " data-wow-duration="0.7s" data-wow-delay="0.2s">
                    <p class="project__name">
                        Currently working @
                    </p>
                    <img alt="TNT" class="lazy vh-align--img" data-original="assets/images/logo/tnt.svg" src="assets/images/transparant.png">

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>TNT</b>
                            Front-end development of the multi-language &amp; multi-country website
                        </p>
                        <div class="project__btns">
                            <a href="http://www.tnt.com/express/en_gb/site/home.html" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                </div>
                <!-- <div class=" [ card card__profile card__profile--sb ] wow fadeInUp" data-wow-duration="0.7s">
                    <div class="card__background lazy" data-original="assets/images/profile_stevenbax.jpg">
                        <h1 class="card__slogan">Yes, we’re open<span>for new projects in Q2</span></h1>

                        <p class="profile__name">
                            <b>Steven Bax</b>
                            Web-developer
                        </p>

                        <div class="profile__overlay">
                            <p class="overlay__name alignment-center">
                                <b>Steven Bax</b>
                                Web-developer
                            </p>
                            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6E%66%6F%40%79%6F%75%72%6F%77%6E%6D%6F%6F%64%2E%6E%6C" class="button button--black button--arrow">Hire <i></i></a>
                            <div class="profile__social">
                                <a href="https://twitter.com/yourownmood" class="button button--social" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://nl.linkedin.com/pub/steven-bax/20/b03/5a8" class="button button--social" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class=" [ card card__project card__project--sb ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.2s">
                    <div class="project__overlay">
                        <p class="overlay__name alignment-center">
                            <b>TNT</b>
                            Front-end development of the multi-language &amp; multi-country website
                        </p>
                        <a href="http://www.tnt.com/express/en_gb/site/home.html" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                    </div>

                    <p class="project__name">
                        Currently working @
                    </p>
                    <img src="assets/images/logo/tnt.svg" alt="TNT" >
                </div> -->

            </div><div class="layout__item u-1/3 u-1/2-phone-to-desk u-1/1-phone">

                <div class=" [ card card--gj ] wow fadeInUp" data-wow-duration="0.7s">
                    <div class=" [ card card__bg ] lazy" data-original="assets/images/profile_gertjandegoede.jpg">

                        <p class="profile__name">
                            <b>Gert-Jan de Goede</b>
                            Visual webdesigner
                        </p>

                        <span class="card__overlay profile__overlay card__animate">
                            <p class="profile__name--overlay v-align">
                                <b>Gert-Jan de Goede</b>
                                Visual webdesigner
                            </p>

                            <div class="profile__btns">
                                <div class="profile__social">
                                    <a href="https://twitter.com/yourownmood" class="button button--social" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/pub/gert-jan-de-goede/1b/954/71a" class="button button--social" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>

                                <a href="#/profile/gert-jan-de-goede" class="button button--black button--arrow">Hire <i></i></a><!-- &#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6E%66%6F%40%79%6F%75%72%6F%77%6E%6D%6F%6F%64%2E%6E%6C -->
                            </div>
                        </span>

                    </div>
                </div>

                <div class=" [ card--gj-project ] wow fadeInUp " data-wow-duration="0.7s" data-wow-delay="0.35s">
                    <div class=" [ card card__bg ] lazy" data-original="assets/images/project/ing.jpg">
                        <p class="project__name">
                        Currently working @
                    </p>
                    <img data-original="assets/images/logo/ING.svg" src="assets/images/transparant.png" class="lazy vh-align--img" alt="ING">

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>ING</b>
                            A global financial institution of Dutch origin
                        </p>
                        <div class="project__btns">
                            <a href="http://www.ing.nl" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                    </div>


                </div>

                <!-- Profile right -->
                <!-- <div class=" [ card card__profile card__profile--gj ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.15s">
                    <div class="card__background lazy" data-original="assets/images/profile_gertjandegoede.jpg">
                        <p class="profile__name">
                            <b>Gert-Jan de Goede</b>
                            Visual webdesigner
                        </p>

                        <div class="profile__overlay">
                            <p class="overlay__name alignment-center">
                                <b>Gert-Jan de Goede</b>
                                Visual webdesigner
                            </p>
                            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6E%66%6F%40%79%6F%75%72%6F%77%6E%6D%6F%6F%64%2E%6E%6C" class="button button--black button--arrow">Hire <i></i></a>
                            <div class="profile__social">
                                <a href="https://twitter.com/yourownmood" class="button button--social" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/pub/gert-jan-de-goede/1b/954/71a" class="button button--social" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" [ card card__project card__project--gj ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.35s">
                    <div class="card__background lazy" data-original="assets/images/project/ing.jpg">
                        <div class="project__overlay">
                            <p class="overlay__name alignment-center">
                                <b>ING</b>
                                A global financial institution of Dutch origin
                            </p>
                            <a href="http://www.ing.nl" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>

                        <p class="project__name">
                            Currently working @
                        </p>
                        <img data-original="assets/images/logo/ING.svg" src="assets/images/transparant.png" class="lazy" alt="Allerhande">
                    </div>
                </div> -->

            </div><div class="layout__item u-1/3 hide-portable">

                <div class="intro wow fadeIn" data-wow-duration="2s">
                    <div class="intro__header">
                        <p>Guiding digital strategy into online experiences of todays standards</p>
                        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6E%66%6F%40%79%6F%75%72%6F%77%6E%6D%6F%6F%64%2E%6E%6C" class="button button--arrow">Hire us <i></i></a>
                        <span class="phone">010-820 88 86</span>
                    </div>
                    <div class="alignment-bottom">
                        <a href="https://twitter.com/yourownmood" class="button button--social" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/yourownmood" class="button button--social" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- We worked @ -->
    <section class="scherm">
        <p class="worked-at wow fadeIn" data-wow-duration="2s">
            <b>We worked @</b>
            Alerhande, TNT, Ultimaker, Sunweb, Budget Energie, Ruimtemakers, Sloop de Crisis, KRO, Quantore, Avero Achmea, Waterfootprint Network, Leukedingendoen, Van Nelle Ontwerpfabriek, Drijvend Paviljoen, Alles in Huis, Jet-Thruster, Keukenstudio Maassluis.
        </p>
    </section>

    <!-- Projects -->
    <section class="scherm scherm-2">
        <div class="layout layout--flush">
            <div class="layout__item u-1/3 u-1/2-lap u-1/1-palm">

                <div class=" [ card card__project card--allerhande  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
                    <img data-original="assets/images/logo/allerhande.svg" src="assets/images/transparant.png" class="lazy" alt="Allerhande">

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Allerhande</b>
                            Biggest inspirational food website of The Netherlands
                        </p>
                        <div class="project__btns">
                            <a href="http://www.ah.nl/allerhande/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                </div>

                <div class=" [ card card__project card--sunweb  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
                    <div class=" [ card card__bg ] lazy" data-original="assets/images/project/sunweb.jpg">
                    </div>

                    <img data-original="assets/images/logo/sunweb.png" src="assets/images/transparant.png" class="lazy" alt="Sunweb">

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Sunweb</b>
                            Sunny side of travel agency Sunweb
                        </p>
                        <div class="project__btns">
                            <a href="http://zon.sunweb.nl/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                </div>

                <div class=" [ card card__project card--liander  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
                    <div class=" [ card card__bg ] lazy" data-original="assets/images/project/liander.jpg">
                    </div>

                    <img data-original="assets/images/logo/liander.svg" src="assets/images/transparant.png" class="lazy" alt="Liander">

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Liander.nl</b>
                            Dutch Grid Operator
                        </p>
                        <div class="project__btns">
                            <a href="https://www.liander.nl/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                </div>

            </div><div class="layout__item u-1/3 u-1/2-lap u-1/1-palm">

                <div class=" [ card card__project card--ecover  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

                    <img data-original="assets/images/project/ecover.png" src="assets/images/transparant.png" class="lazy" alt="Ecover">

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Ecover</b>
                            Pioneering a cleaner clean worldwide
                        </p>
                        <div class="project__btns">
                            <a href="http://uk.ecover.com/en/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                </div>

                <div class=" [ card card__project card--sdc  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

                    <img data-original="assets/images/logo/sloopdecrisis.svg" src="assets/images/transparant.png" class="lazy" alt="Sloopdecrisis.nl">

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Sloopdecrisis.nl</b>
                            Persuasive action site
                        </p>
                        <div class="project__btns">
                            <a href="http://www.sloopdecrisis.nl" class="button button--black button--arrow" target="_blank">Visit <i></i></a>
                        </div>
                    </div>
                </div>

                <div class=" [ card card__project card--be  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

                    <img data-original="assets/images/logo/BudgetEnergie.svg" src="assets/images/transparant.png" class="lazy" alt="BudgetEnergie">


                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Budget Energie</b>
                            Well priced online energy supplier
                        </p>
                        <div class="project__btns">
                            <a href="http://www.budgetenergie.nl" class="button button--black button--arrow" target="_blank">Visit <i></i></a>
                        </div>
                    </div>
                </div>

            </div><div class="layout__item u-1/3 u-1/1-portable">

                <div class=" [ card card__project card--ldd  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

                    <img data-original="assets/images/logo/leukedingendoen.svg" src="assets/images/transparant.png" class="lazy" alt="LeukeDingenDoen">


                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Leukedingendoen.nl</b>
                            Is er nog iets leuks te doen?
                        </p>
                        <div class="project__btns">
                            <a href="http://www.leukedingendoen.nl/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                </div>

                <div class=" [ card card__project card--ultimaker  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">
                    <div class=" [ card card__bg ] lazy" data-original="assets/images/project/ultimaker.jpg">
                    </div>

                    <div class="card__overlay card__animate project__overlay">
                        <p class="project__name--overlay v-align">
                            <b>Ultimaker</b>
                            Best desktop 3D Printer on the market
                        </p>
                        <div class="project__btns">
                            <a href="http://ultimaker.com/" target="_blank" class="button button--black button--arrow">Visit <i></i></a>
                        </div>
                    </div>
                </div>

                <div class=" [ card card__project card--tags  ] wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">

                    <p>We like</p>

                    <ul class=" [ list-bare list-inline ] tag-list">
                        <li><span class="button button--dia">Scrum</span></li>
                        <li><span class="button button--dia">Inuit.css</span></li>
                        <li><span class="button button--dia">Scalability</span></li>
                        <li><span class="button button--dia">Craft</span></li>
                        <li><span class="button button--dia">Sketch</span></li>
                    </ul>


                </div>

            </div>
        </div>
    </section>

    <!-- We worked with -->
    <section class="scherm">

        <div class="layout">
            <div class="layout__item u-1/1">
                <p class="worked-at  wow fadeIn" data-wow-duration="2s">
                    <b>We work with agencies!</b>
                    Jungle Minds, Fabrique, Doornvogel brand intimacy, We Are Reasonable People, Branding &amp; more
                </p>
            </div>
        </div>

        <div class=" [ layout layout--middle ] agency-list wow fadeIn" data-wow-duration="2s">
            <div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
                <a href="http://www.jungleminds.nl/" target="_blank" class="agency-1">
                    <img data-original="assets/images/agency/jungleminds.jpg" src="assets/images/transparant.png" class="lazy" alt="Jungleminds" >
                </a>
            </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
                <a href="http://www.fabrique.nl/" target="_blank" class="agency-2">
                    <img data-original="assets/images/agency/fabrique.svg" src="assets/images/transparant.png" class="lazy" alt="Fabrique" >
                </a>
            </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
                <a href="http://www.doornvogel.com/" target="_blank" class="agency-3">
                    <img data-original="assets/images/agency/doornvogel.jpg" src="assets/images/transparant.png" class="lazy" alt="Doornvogel - brandintimacy" >
                </a>
            </div><div class="layout__item u-1/4-desk u-1/2-lap u-1/2-phone-and-up u-1/1-phone">
                <a href="http://www.wearereasonablepeople.com/" target="_blank" class="agency-4">
                    <img data-original="assets/images/agency/warp.svg" src="assets/images/transparant.png" class="lazy" alt="We are reasonable people" >
                </a>
            </div>
        </div>

</section>

</div>