<header>

  <nav id="js-scrollboxProjects" class="scrollbox scrollbox__projects overrule slideInOut" ng-show="visibleProjects">
    <div class="scrollbox__cards">

      <div class="scrollbox__card" ng-repeat="post in posts">
        <div class="card">

          <a ng-if="post.projectThumb" href="#/project/{{post.url}}" ng-click="toggle('projects')" class=" [ card card__bg bg-{{post.projectThumbPosition}} ] afkl-lazy-wrapper" afkl-lazy-image="{{post.projectThumb}} 480w, {{post.projectThumb}} 768w, {{post.projectThumb}}" afkl-lazy-image-options='{"background": true}'>

            <span class="card--info card__animate">
                <b>{{post.projectTitle}}</b>
                <br>
                {{post.projectClient}}
            </span>

            <div ng-if="post.projectLogo" alt="{{post.heroTitle}}" class="scrollbox__logo" afkl-lazy-image="{{post.projectLogo}} 480w, {{post.projectLogo}} 768w, {{post.projectLogo}}"></div>

          </a>

          <a ng-if="!post.projectThumb" style="background-color: {{post.projectColor}};" href="#/project/{{post.url}}" ng-click="toggle('projects')" class=" [ card card__bg bg-{{post.projectThumbPosition}} ] ">

            <span class="card--info card__animate">
                <b>{{post.projectTitle}}</b>
                <br>
                {{post.projectClient}}
            </span>

            <div ng-if="post.projectLogo" alt="{{post.heroTitle}}" class="scrollbox__logo" afkl-lazy-image="{{post.projectLogo}} 480w, {{post.projectLogo}} 768w, {{post.projectLogo}}"></div>

          </a>

        </div>
    </div>

    </div>
  </nav>

    <nav class="site-navigation wow fadeIn" data-wow-duration="2s">
        <ul class="nav-list-phone list-inline" ng-show="visibleNavigation">
            <li><a href="#/about" ng-click="visibleProjects = false">About</a></li>
            <li><a href ng-click="toggle('projects')">Projects</a></li>
        </ul>

        <ul class="nav-list list-inline">
            <li class="nav-list__item"><a class="nav-list__link" href="#/about" ng-click="visibleProjects = false">About</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href ng-click="toggle('projects')">Projects</a></li>
        </ul>

        <a href ng-click="toggle('navigation')" class="nav-list__trigger">
            <i class="fa fa-bars"></i>
        </a>

        <a href="#/" ng-click="visibleProjects = false" class="yom">YOM.</a>

        <p class="yom-slogan">
            Guiding digital strategy into online experiences of todays standards
        </p>

        <div class="yom-social">
            <a href="https://www.linkedin.com/company/yourownmood" class="button button--social" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </nav>

</header>
