<header>

    <nav id="js-scrollbox" class="scrollbox scrollbox__projects overrule slideInOut" ng-show="visibleProjects">
        <div class="scrollbox__cards">
            <div class="scrollbox__card">
                <div class="card">

                    <a href="#/project" ng-click="toggle('projects')" class=" [ card card__bg card__bg--c ] lazy" data-original="assets/images/project/ing.jpg">
                        
                        <span class="card__overlay card__overlay--grey card__animate">

                        </span>

                    </a>
                    
                </div>
            </div><div class="scrollbox__card">
                <div class="card">
                    
                    <a href="#/project" ng-click="toggle('projects')" class=" [ card card__bg card__bg--c ] lazy" data-original="assets/images/project/sunweb.jpg">
                        
                        <span class="card__overlay card__overlay--grey card__animate">

                        </span>

                    </a>

                </div>
            </div><div class="scrollbox__card">
                <div class="card">

                    <a href="#/project" ng-click="toggle('projects')" class=" [ card card__bg card__bg--c ] lazy" data-original="assets/images/project/ing.jpg">
                        
                        <span class="card__overlay card__overlay--grey card__animate">

                        </span>

                    </a>
                    
                </div>
            </div>
        <!-- </div> -->
    </nav>

    <nav class="site-navigation wow fadeIn" data-wow-duration="2s">
        <ul class="nav-list--phone list-inline" ng-show="visibleNavigation">
            <li><a href="#/">About</a></li>
            <li><a href ng-click="toggle('projects')">Projects</a></li>
        </ul>

        <ul class="nav-list list-inline">
            <li><a href="#/">About</a></li>
            <li><a href ng-click="toggle('projects')">Projects</a></li>
        </ul>

        <a href ng-click="toggle('navigation')" class="nav-list--trigger">
            <i class="fa fa-bars"></i>
        </a>

        <a href="#/" class="yom">YOM.</a>

        <p class="yom-slogan">
            Guiding digital strategy into online experiences of todays standards
        </p>

        <div class="yom-social">
            <a href="https://twitter.com/yourownmood" class="button button--social" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/yourownmood" class="button button--social" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </nav>

</header>