<div ng-controller="projectCtrl as project" ng-init="loaded()">
  <div ng-repeat="post in posts" ng-show="post.url === lastPart">

    <div class="scherm scherm-project">

      <div class="layout layout--flush">
        <div class="layout__item u-2/3-desk u-1/2 u-1/1-palm">

          <div class=" [ card ] wow fadeInUp" data-wow-du ration="0.7s">

            <div ng-if="post.heroImg !== ''" afkl-lazy-image="{{post.heroImg}} 480w, {{post.heroImg}} 768w, {{post.heroImg}}" class=" [ card card__bg bg-{{post.heroImgPosition}} ] afkl-lazy-wrapper" afkl-lazy-image-options="{'background': true,'nolazy':true}">
              <h1 class="project__hero--slogan">
                {{post.heroTitle}}
              </h1>
            </div>

            <div ng-if="post.heroImg === ''" class=" [ card card__bg ]" style="background-color: {{post.projectColor}};">
              <h1 class="project__hero--slogan">
                {{post.heroTitle}}
              </h1>
            </div>

          </div>

        </div><div class="layout__item u-1/3-desk u-1/2 u-1/1-palm">

          <div class="project__bio fadeInUp wow" data-wow-duration="1s">
            <p class="project__bio--label">
              <span>Project</span>
              {{post.projectTitle}}
            </p>
            <p class="project__bio--paragraph">
              {{post.projectDescription}}
            </p>
            <p class="project__bio--label">
              <span>Client</span>
              {{post.projectClient}}
            </p>
            <p class="project__bio--label">
              <span>Agency</span>
              {{post.projectAgency}}
            </p>
            <p class="project__bio--label">
              <span>Visite website</span>
              <a href="{{post.projectUrlHref}}" target="_blank">
                {{post.projectUrlLabel}}
              </a>
            </p>
          </div>

        </div>
      </div>

    </div>

    <section class="screen screen__offset--project" ng-if="post.projectWorkImg1 && post.projectWorkImg2">

      <br><br><br>

      <div class="layout">
        <div class="layout__item u-1/2 u-1/1-palm">

          <div class="project__image wow fadeInUp">
            <div afkl-lazy-image="{{post.projectWorkImg1}} 480w, {{post.projectWorkImg1}} 768w, {{post.projectWorkImg1}}" class="afkl-lazy-wrapper"></div>
            <span>
              {{post.projectWorkCaption1}}
            </span>
          </div>

        </div><div class="layout__item u-1/2 u-1/1-palm">

          <div class="project__image wow fadeInUp" data-wow-delay="0.2s">
            <div afkl-lazy-image="{{post.projectWorkImg2}} 480w, {{post.projectWorkImg2}} 768w, {{post.projectWorkImg2}}" class="afkl-lazy-wrapper"></div>
            <span>
              {{post.projectWorkCaption2}}
            </span>
          </div>

        </div>
      </div>

    </section>
  </div>
</div>
