/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * FONTS
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Headings.............H1 - H6 styles (HTML element).
 * Lists................Basic styling for regular ordered and unordered lists.
 * Images...............Provides very basic styling for images (img).
 *
 * OBJECTS
 * Wrappers.............Max-width wrappers.
 * Layout...............inuitcss’ layout tool.
 * List-bare............A simple object to remove bullets and indents from lists.
 * List-inline..........Displays a list as one horizontal row.
 *
 * COMPONENTS
 * Screens
 * Cards
 *
 * TRUMPS
 * Clearfix.............I can’t believe we still need this in 2014.
 * Widths...............Simple width helper classes.
 * Widths-responsive....Polyfill for responsive width classes.
 *
 * SHAME
 * Shame................Quick fixes and hacks.
 */


/**
 * #SETTINGS
 */
@import "bower_components/inuit-defaults/settings.defaults";
$breakpoints: (
    "phone"         "screen and (max-width: 480px)",
    "phone-plus"    "screen and (min-width: 481px)",
    "phone-to-desk"    "screen and (min-width: 481px) and (max-width: 1023px)",
    "phone-and-up"  "screen and (min-width: 480px) and (max-width: 719px)",
    "palm"          "screen and (max-width: 719px)",
    "lap"           "screen and (min-width: 720px) and (max-width: 1023px)",
    "lap-and-up"    "screen and (min-width: 720px)",
    "portable"      "screen and (max-width: 1023px)",
    "desk"          "screen and (min-width: 1024px)",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
) !default;
@import "bower_components/inuit-responsive-settings/settings.responsive";
@import "_settings/settings.colors";


/**
 * #SETTINGS
 */
@import "_font-awesome/font-awesome";


/**
 * #TOOLS
 */
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "_tools/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";


/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";


/**
 * #BASE
 */
@import "bower_components/inuit-page/base.page";
@import "_base/base.page";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-images/base.images";


/**
 * #OBJECTS
 */
@import "_objects/objects.wrappers";
$inuit-enable-layout--flush: true;
$inuit-enable-layout--middle: true;
$inuit-enable-layout--center: true;
@import "bower_components/inuit-layout/objects.layout";
@import "bower_components/inuit-list-bare/objects.list-bare";
@import "bower_components/inuit-list-inline/objects.list-inline";

/**
 * #COMPONENTS
 */

/* Needs to be added to index */
@import "_components/components.screen";
@import "_components/components.header";
@import "_components/components.footer";
@import "_components/components.cards";
@import "_components/components.buttons";
@import "_components/components.page-slogan";
@import "_components/components.page-intro";
@import "_components/components.agency-list";
@import "_components/components.tag-list";
@import "_components/components.scrollbox";
@import "_components/components.project";


/**
 * #TRUMPS
 */
@import "bower_components/inuit-clearfix/trumps.clearfix";
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-widths-responsive/trumps.widths-responsive";
$inuit-enable-paddings: true;
$inuit-enable-paddings--large: true;
$inuit-enable-margins: true;
@import "bower_components/inuit-spacing/trumps.spacing";
$inuit-enable-responsive-paddings: true;
$inuit-enable-responsive-margins: true;
@import "bower_components/inuit-spacing-responsive/trumps.spacing-responsive";
@import "_trumps/trumps.animation";

/**
 * #SHAME
 */



/**
 * #TRUMPS
 */
@import "bower_components/inuit-clearfix/trumps.clearfix";
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-widths-responsive/trumps.widths-responsive";
$inuit-enable-paddings: true;
$inuit-enable-paddings--large: true;
$inuit-enable-margins: true;
@import "bower_components/inuit-spacing/trumps.spacing";
$inuit-enable-responsive-paddings: true;
$inuit-enable-responsive-margins: true;
@import "bower_components/inuit-spacing-responsive/trumps.spacing-responsive";
@import "_trumps/trumps.animation";
@import "_trumps/trumps.show-hide";

/**
 * #SHAME
 */
@import "_shame/shame.scss";
